/* Layout general */
.login-wrapper {
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* Lado izquierdo */
.login-left {
  flex: 1;
  background: linear-gradient(135deg, #283593, #1565c0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 3rem;
}

.login-welcome {
  max-width: 400px;
}

.login-welcome h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login-welcome p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Lado derecho */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.login-card {
  background: #fff;
  border-radius: 12px;
  padding: 3rem;
  width: 100%;
  max-width: 400px;
}

.title {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 2rem;
}

.subtitle a {
  color: #1976d2;
  text-decoration: none;
}

/* Botones */
.login-button {
  margin-top: 1rem;
  height: 48px;
  font-weight: 600;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 1rem;
  height: 48px;
  font-weight: 600;
}

.google-button img {
  width: 20px;
  height: 20px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}
.divider:not(:empty)::after {
  margin-left: 0.75em;
}

/* Forgot password */
.forgot {
  margin-top: 1.5rem;
  text-align: center;
}

.forgot a {
  color: #1976d2;
  font-size: 0.9rem;
  text-decoration: none;
}

.error-message {
  display: flex;
  align-items: center;
  color: #d32f2f;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.loading-spinner {
  margin-right: 0.5rem;
}
@media (max-width: 768px) {
  .mat-paginator {
    flex-direction: column;   /* Los elementos se apilan */
    align-items: center;
    text-align: center;
    padding: 12px;
  }

  .mat-paginator-page-size,
  .mat-paginator-range-label {
    margin: 6px 0;
  }
}