
<nav class="navbar navbar-expand-lg p-3 text-dark bg-body-secondary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/aboutMe']">Acerca De</a>
        </li>
        
        <!-- Menú Proyectos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Proyectos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/proyectos']">Listar Proyectos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/proyectos/crear']">Crear Proyecto</a></li>
          </ul>
        </li>
      </ul>

      <!-- Botón Cerrar Sesión -->
      <div class="navbar-nav">
        <span class="nav-item">
          <a class="nav-link text-danger fw-bold" href="#" (click)="logout($event)">
            Cerrar Sesión
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>
