
<app-cabecera></app-cabecera>
<div class="d-flex justify-content-center mt-3">
    <div class="col-lg-10">
        <div class="py-5 text-center container border border-success border-1 rounded-3">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Servicios</h1>
                <ul class="lead text-body-secondary text-start">
                    <li><i class="fa fa-check  text-danger"></i>Servicios</li>
                    <li><i class="fa fa-check  text-danger"></i>Paginacion</li>
                    <li><i class="fa fa-check  text-danger"></i>Imagenes</li>
                    <li><i class="fa fa-check  text-danger"></i>Tominios</li>
                    <li><i class="fa fa-check  text-danger"></i>API Colombia</li>
                </ul>
                <span>
                  <a href="#" class="btn btn-dark m-2 col-3">Detalle</a>
                  <a href="#" class="btn btn-dark m-2 col-3">Regiones</a>
                </span>
              </div>
            </div>
        </div>

    </div>

</div>